<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
</head>

<body>
    <div class="ui secondary menu fixed" id="topNav">
        @Html.Partial("TopNavigation")
    </div>

    <div class="ui grid" id="fullHeight">
        <div class="three wide column gridItem">
            <div class="ui secondary vertical pointing menu" id="sideNav">
                @Html.Partial("SideNavigation")
            </div>
        </div>

        <div class="thirteen wide column gridItem">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="addButton">
        <button class="circular red ui icon button" onclick="window.location.href = '#addNewNote';">
            <i class="icon add"></i>
        </button>
    </div>

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["message"]");
            };
        </script>

    }

    <script>

        function setBorderColourModal(id) {
            var inputElementIdName = "#inputColour_" + id;
            var borderElementIdName = "#borderColourModal_" + id;

            var inputVal = $(inputElementIdName).val();
            $(borderElementIdName).css("border-color", inputVal);
        }

        function setBorderColourNewNote(id) {
            var inputElementIdName = "#inputColourNewNote";
            var borderElementIdName = "#borderColourNewNote";

            var inputVal = $(inputElementIdName).val();
            $(borderElementIdName).css("border-color", inputVal);
        }

        function searchNote(){
            var input = document.getElementById("searchForNote");
            var filter = input.value.toLowerCase();
            var nodes = document.getElementsByClassName('nodeLink');

            for (i = 0; i < nodes.length; i++) {
                if (nodes[i].innerText.toLowerCase().includes(filter)) {
                    nodes[i].style.display = "block";
                }
                else {
                    nodes[i].style.display = "none";
                }
            }
        }
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/semanticUi")

</body>
</html>
