@model Notizen_Projekt.Models.User

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>


@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>

    <table>
        <thead>
            <tr>
                <td colspan="2">Registrierung</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(u => u.Firstname, "Vorname:* ")</td>
                <td>@Html.TextBoxFor(u => u.Firstname, new { required = "required" }) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.Lastname, "Nachname:* ")</td>
                <td>@Html.TextBoxFor(u => u.Lastname, new { required = "required" }) </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(u => u.Gender, "Geschlecht: ")</td>
                <td>@Html.EnumDropDownListFor(u => u.Gender, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(u => u.Username, "Benutzername:* ")</td>
                <td>@Html.TextBoxFor(u => u.Username, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(u => u.Password, "Passwort:* ")</td>
                <td>@Html.PasswordFor(u => u.Password, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(u => u.PasswordConfirm, "Passwort bestätigen:* ")</td>
                <td>@Html.PasswordFor(u => u.PasswordConfirm, new { required = "required" })</td>
            </tr>


            <tr>
                <td colspan="2" style=" text-align:center">
                    <input type="submit" value="Regitrieren" id="btnSubmit" />
                    <input type="reset" value="Abbrechen" id="btnReset" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">* sind Pflichtfelder</td>
            </tr>
        </tfoot>


    </table>
}
