@model Notizen_Projekt.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    


    <div class="boxForm">
        <h2>Sign Up</h2>
        <form class="ui form">
            <div class="field">
                <label>Vorname</label>
                @Html.TextBoxFor(u => u.Firstname, new { required = "required", type = "text", name = "first-name", placeholder = "Vorname" })
            </div>

            <div class="field">
                <label>Nachname</label>
                @Html.TextBoxFor(u => u.Lastname, new { required = "required", type = "text", name = "last-name", placeholder = "Nachname" })
            </div>

            <div class="field">
                <label>Geschlecht</label>
                <select class="ui dropdown" onchange="this.className=this.options[this.selectedIndex].className">
                    <option class="blackText" value="" disabled selected hidden>Geschlecht</option>
                    <option class="blackText" value="1">Männlich</option>
                    <option class="blackText" value="0">Weiblich</option>
                </select>
            </div>

            <div class="field">
                <label>E-Mail</label>
                @Html.TextBoxFor(u => u.Email, new { required = "required", type = "email", name = "email", placeholder = "E-Mail", @id="email"})
            </div>

            <div class="field">
                <label>Benutzername</label>
                @Html.TextBoxFor(u => u.Username, new { required = "required", type = "text", name = "username", placeholder = "Benutzername" })
            </div>

            <div class="field">
                <label>Passwort</label>
                @Html.TextBoxFor(u => u.Password, new { required = "required", type = "password", name = "password", placeholder = "Passwort", @id = "password" })
            </div>

            <div class="field">
                <label>Passwort bestätigen</label>
                @Html.TextBoxFor(u => u.PasswordConfirm, new { required = "required", type = "password", name = "password-confirm", placeholder = "Passwort bestätigen", @id = "confirm_password" })
                <span id='message'></span>
            </div>

            <a href="~/User/Login" class="ui button" type="button">Sign In</a>
            <button class="ui button" type="submit">Sign Up</button>

        </form>
    </div>




<script>
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Passwörter stimmen überein').css('color', 'green');
        } else 
        $('#message').html('Passwörter stimmen nicht überein').css('color', 'red');
    });
</script>


