@model Notizen_Projekt.Models.Note

<a class="nodeLink" href="#@Model.User.Username@Model.Id">
    <div class="noteBlock" style="border-color: @Model.ColourNote">
        <!-- Titel -->
        <h3>@Model.NoteTitle</h3>
        <!-- Text -->
        <p>@Model.NoteText</p>

        <div class="bottomSection">
            <!-- Modal öffnen -->
            <div class="textBlock right">
                <a href="#@Model.User.Username@Model.Id"><i class="search plus icon"></i></a>
            </div>
            <!-- User -->
            <div class="textBlock right">
                <p>@Model.User.Username</p>
            </div>
            <!-- Datum erstellt -->
            <div class="textBlock left">
                <p>@Model.DateWritten</p>
            </div>
        </div>
    </div>
</a>


