@model Notizen_Projekt.Models.Note

        <div class="noteBlock" style="border-color: @Model.ColourNote">
            <h3>@Model.NoteTitle</h3>
            <p>@Model.NoteText</p>

            <div class="bottomSection">
                    <!--View-->
                    <div class="textBlock" id="right">
                        <a href="#@Model.User.Username@Model.Id"><i class="search plus icon"></i></a>
                    </div>
                    <!--User-->
                    <div class="textBlock" id="right">
                        <p>@Model.User.Username</p>
                    </div>

                    <!-- Date -->
                    <div class="textBlock" id="left">
                        <p>@Model.DateWritten</p>
                    </div>
            </div>
        </div>


